
body {
    /* background */
    position: relative;
    background-color: #d5e1df;
    /* color: #618685; */
    padding: 2em;
    /* font definition */
    font-family: 'Georgia', serif;
}

div{
    background-color:#f0f8ff;
    position: relative;
    padding-left: 2em;
}  

h1, h2, h3, h4, p{
    margin-block-start: 0;
    margin-block-end: 0;
    padding-bottom: 1em;
    tex-align: center;
}

.underline {
    text-decoration: underline
} 

.span {
    font-weight:bold;
    color:#750219;
}
.education-page{
    position: relative;
    background-color: #d5e1df;
    color: #FFFFFF;
    padding: 2em;
}

iframe{
    width: 200px;
    heigh: 100px;
}

}
