
body {
    background-color: #E767FE;
color: #FFFFFF;
}
    
.underline {
    text-decoration: underline
} 

div{
    background-color:#f0f8ff;
}    

.span {
    font-weight:bold;
    color:#750219;
}
